{{> welcome-menu active="about" }}

<section class="hero">
  <div class="hero-body has-text-centered">
    <section class="box about-box">
      <h1 class="title">
        Where have you been?
      </h1>
      <br>
      <br>
      <p>Explore Ireland's rich heritage, historical landmarks and cultural treasures. </p>
      <p>Upload, organise and manage all your favourite points of interest on an interactive map.</p>
      <br>
      <p><a href="/signup">Sign up</a> to start exploring today and immerse yourself in an ancient landscape.</p>
      <p></p>
    </section>
  </div>
</section>